/* Author: Nithya Bharadwaj P */
/* This section styles the Filter section */

.filter {
    max-width: 100%; /* Ensure full width */
    padding: 15px; /* Consistent padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 5px; /* Rounded corners */
    background-color:  rgba(255, 255, 255, 0.9);
    display: flex;
  justify-content:space-between;
  align-items: center;
}

.search-container {
    display: flex; /* Flexbox for input and button alignment */
    align-items: center; /* Center items vertically */
    margin-bottom: 15px; /* Space below the search */
}

.search-container input[type="search"] {
    flex-grow: 1; /* Allow input to take available space */
    padding: 8px; /* Uniform padding for input */
    border: 1px solid #ccc; /* Border around input */
    border-radius: 4px; /* Rounded corners */
    font-size: 14px; /* Font size for readability */
    size: auto;
}

.search-container button {
    margin-left: 10px; /* Space between input and button */
}

label {
    display: block; /* Block display for labels */
    margin-bottom: 5px; /* Space below each label */
    font-weight: 600; /* Bold labels */
}

select, input[type="date"] {
    width: 100%; /* Full width for inputs */
    padding: 8px; /* Padding for inputs */
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
    margin-bottom: 10px; /* Space below each input */
}

.reset-btn {
    margin-top: 10px; /* Space above the reset button */
}

@media (max-width: 768px) {
    .filter {
        padding: 10px; /* Reduced padding on smaller screens */
    }

    .search-container input[type="search"] {
        padding: 6px; /* Smaller padding for input */
    }

    .search-container button {
        padding: 6px; /* Smaller padding for button */
    }
}


