/* Styles for the page */

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}

/* Centering the heading */
h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem; /* Slightly smaller for responsiveness */
  color: #333;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem; /* Larger font size for bigger screens */
  }
}
/* Styling search bar */
.search-container {
    display: flex;
    align-items: center;
}

.search-container input {
    margin-right: 10px; /* Space between input and button */
    flex-grow: 1; /* Allow the input to take up remaining space */
}
/* Styling for the filter section */

.filter {
  display: flex;
  flex-direction: column; /* Stack filters on smaller screens */
  gap: 10px; /* Add space between the elements */
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #cce7ff;
}

@media (min-width: 768px) {
  .filter {
    flex-direction: row; /* Side by side on larger screens */
    justify-content: space-between;
  }
}

/* Styling for the filter labels and inputs */
.filter label {
  font-weight: bold;
}

.filter select,
.filter input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 0; /* Remove the margin for better alignment */
  width: 100%; /* Full width on smaller screens */
}

@media (min-width: 768px) {
  .filter select,
  .filter input {
    width: auto; /* Adjust width on larger screens */
  }
}



/* Button styling */
button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}








/*Filter component styles
.filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	background-color: #f2f2f2;
	border-radius: 5px;
}

.filter label {
	font-weight: bold;
	margin-right: 10px;
}

.filter select {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.filter button {
	padding: 8px 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.filter button:hover {
	background-color: #0056b3;
}*/
