/* 
  Author: Nithya Bharadwaj P, Harshdeep Chhabra, Shivaji Reddy
  Date: 2024 /09/06
*/
body{
  background-color:#faf8f5;
}
/* Styles for the main container, ensuring full width and central alignment */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  /*background-color: #F2E7CF; Light background color for contrast*/
}

/* Adjust container width for medium and larger screens */
@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}

/* Centering the main heading for the page */
h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem; /* Slightly smaller for mobile responsiveness */
  color: #333; /* Dark color for readability */
}

/* Larger heading size for bigger screens */
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}

/* Adding styles for table */
.table {
   /*--bs-table-bg:#F6EFDF ; or --bs-table-bg: transparent;*/
   --bs-table-bg:#fffefc;
}

.table th{
  background-color:#E6CE9E;
}
.table tr{
  border-color:black;
}
/*Styles for Modal */
.modal-content{
  background-color:#f9f7f4;
}



